<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokémon Image Downloader</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <h1>Pokémon Image Downloader</h1>

  <h2>Adicione um Pokémon</h2>
  <form id="pokemon-form">
    <input type="text" name="pokemon" id="id-pokemon">
    <button type="reset">Limpar</button>
    <button type="submit">Adicionar</button>
    <p class="alert-text"></p>
  </form>

  <div id="id-gallery" class="gallery"></div>

  <button id="id-download-btn" type="submit">Baixar Sprites</button>


  <a class="d-none" id="id-download-link"></a>

</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>

